@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.bg-container {
  width: 80%;
  height: 223px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
}

.bg-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.cards-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1.21%;
  margin: 2rem auto;
  gap: 2rem;
  border-radius: 25px;
  background: #F6F6F6;
}

@media screen and (max-width: 955px) {
  .bg-container {
    width: 80%;
    height: 150px;
  }
  .cards-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1.21%;
    margin: 2rem auto;
    gap: 2rem;
    border-radius: 25px;
    background: #F6F6F6;
  }
}

@media screen and (max-width: 617px) {
  .bg-container {
    width: 80%;
    height: 90px;
  }
  .cards-container {
    width: 80%;
    background: none;
  }
}

@media screen and (max-width: 384px) {
  .bg-container {
    width: 80%;
    height: 70px;
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.error-container h1 {
  color: #ff6060;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 19vw;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
}

.error-container h3 {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.error-container a {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.card {
  width: 340px;
  height: 340px;
  flex: 0 1 calc(33.33% - 2rem);
}

.card .card-img {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card-title {
  padding-left: 1rem;
  position: relative;
  transform: translateY(-110%);
  color: #FFF;
  font-family: "Montserrat",sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-shadow: 2px 2px 4px black;
}

@media screen and (max-width: 1251px) {
  .card {
    width: calc((100% - 4rem) / 2);
    flex: 0 1 calc(50% - 2rem);
  }
}

@media screen and (max-width: 853px) {
  .card {
    width: calc((100% - 4rem));
    flex: 0 1 100%;
  }
}

footer {
  display: flex;
  width: 100%;
  height: 209px;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 28.556px;
  background: #000;
}

footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .text {
  display: flex;
  width: 513px;
  height: 46px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
}

footer .footer-text {
  color: #FFF;
  text-align: center;
  font-family: " Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

@media screen and (max-width: 537px) {
  footer {
    overflow: hidden;
    width: 100%;
    height: 230px;
    justify-content: center;
    align-items: center;
  }
  footer .text {
    justify-content: center;
  }
  footer .footer-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  .footer-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 306px) {
  footer .footer-text {
    font-size: 10px;
  }
}

header {
  width: 80%;
  max-width: 1240px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 210.322px;
  height: 68px;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  color: #FF6060;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 582px) {
  header img {
    width: 180px;
    height: 68px;
  }
  header nav {
    display: flex;
    gap: 1rem;
  }
  header nav a {
    font-size: 20px;
  }
}

@media screen and (max-width: 493px) {
  header img {
    width: 140px;
    height: 60px;
  }
  header nav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 409px) {
  header img {
    width: 120px;
    height: 60px;
  }
  header nav a {
    font-size: 16px;
  }
}

@media screen and (max-width: 364px) {
  header img {
    width: 110px;
    height: 50px;
  }
  header nav a {
    font-size: 14px;
  }
}

@media screen and (max-width: 328px) {
  header img {
    width: 100px;
    height: 50px;
  }
  header nav a {
    font-size: 12px;
  }
}

.opening-divs {
  margin: 2rem auto;
}

.opening-div {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  background: #FF6060;
}

.div-title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.div-text {
  padding-left: 1rem;
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  border-radius: 10px 10px 5px 5px;
  background: #F6F6F6;
}

.hide {
  display: none;
}

.cross {
  cursor: pointer;
}

.medium {
  width: 582px;
}

.large {
  width: 1023px;
}

@media screen and (max-width: 1288px) {
  .medium {
    width: 500px;
  }
}

@media screen and (max-width: 1104px) {
  .medium {
    width: 460px;
  }
}

@media screen and (max-width: 1063px) {
  .large {
    width: 800px;
  }
  .medium {
    width: 440px;
  }
}

@media screen and (max-width: 944px) {
  .medium {
    width: 420px;
  }
}

@media screen and (max-width: 887px) {
  .medium {
    width: 90vw;
  }
}

@media screen and (max-width: 688px) {
  .large {
    width: 500px;
  }
  .div-title {
    font-size: 20px;
  }
  .div-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 525px) {
  .large {
    width: 400px;
  }
  .div-title {
    font-size: 16px;
  }
  .div-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 425px) {
  .large {
    width: 350px;
  }
  .div-title {
    font-size: 16px;
  }
  .div-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 375px) {
  .large {
    width: 300px;
  }
  .div-title {
    font-size: 13px;
  }
  .div-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 324px) {
  .large {
    width: 250px;
  }
  .div-title {
    font-size: 13px;
  }
  .div-text {
    font-size: 13px;
  }
}

.location-container .location-cover {
  width: 1240px;
  height: 415px;
  margin: 2rem auto;
}

.location-container .location-cover div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.location-container .location-cover div .counter {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  text-shadow: 2px 2px 4px black;
}

.location-container .location-description {
  width: 1240px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-container .location-description .description-left .location-title {
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .location-description .description-left .location-area {
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .location-description .description-left .location-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.location-container .location-description .description-left .location-tags .tag-container {
  width: 115px;
  height: 25px;
  border-radius: 10px;
  background: #FF6060;
}

.location-container .location-description .description-left .location-tags .tag-container .location-tag {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .description-right .location-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.location-container .description-right .stars-container {
  margin: 1rem 0;
  display: flex;
}

.location-container .description-right .location-name {
  width: 25%;
  margin: 0 1rem;
  color: #FF6060;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .description-right img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.location-container .description-bottom {
  width: 1240px;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.location-container .list-item {
  padding-left: 1rem;
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  background: #F6F6F6;
  list-style: none;
}

.location-container .carousel-arrow {
  width: 46px;
  height: 79px;
}

.location-container .left {
  transform: translateX(80%);
  z-index: 2;
}

.location-container .right {
  transform: translateX(-80%);
  z-index: 2;
}

.location-container .star img {
  width: 54px;
  height: 36px;
}

.location-container .carousel-image {
  object-fit: cover;
  position: absolute;
  z-index: -1;
  border-radius: 25px;
  width: 1240px;
  height: 415px;
}

@media screen and (max-width: 1294px) {
  .location-container .description-bottom {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .location-container .location-cover {
    width: 1140px;
    height: 350px;
    margin: 3rem auto;
  }
  .location-container .location-cover div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .location-container .carousel-image {
    width: 1140px;
    height: 350px;
  }
  .location-container .location-description {
    width: 1140px;
  }
  .location-container .location-description .location-title {
    font-size: 30px;
  }
  .location-container .star img {
    width: 40px;
    height: 39px;
  }
}

@media screen and (max-width: 1184px) {
  .location-container .description-bottom {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .location-container .location-cover {
    width: 1050px;
    height: 300px;
    margin: 3rem auto;
  }
  .location-container .location-cover div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .location-container .carousel-image {
    width: 1050px;
    height: 300px;
  }
  .location-container .location-description {
    width: 1050px;
  }
  .location-container .location-description .location-title {
    font-size: 25px;
  }
  .location-container .star img {
    width: 35px;
    height: 35px;
  }
  .hidden {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .location-container .description-bottom {
    width: 950px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .location-container .location-cover {
    width: 950px;
    height: 280px;
    margin: 3rem auto;
  }
  .location-container .location-cover div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .location-container .carousel-image {
    width: 950px;
    height: 280px;
  }
  .location-container .location-description {
    width: 950px;
  }
  .location-container .location-description .location-title {
    font-size: 20px;
  }
  .location-container .star img {
    width: 30px;
    height: 35px;
  }
}

@media screen and (max-width: 980px) {
  .location-container .description-bottom {
    width: 90vw;
  }
  .location-container .location-cover {
    width: 90%;
    height: 230px;
    margin: 2rem auto;
  }
  .location-container .location-cover div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .location-container .carousel-image {
    width: 100%;
    height: 280px;
  }
  .location-container .location-description {
    width: 90vw;
    margin: 2rem auto;
    flex-direction: row;
    align-items: flex-end;
  }
  .location-container .location-description .description-left .location-title {
    font-size: 30px;
  }
  .location-container .location-description .location-info, .location-container .location-description .stars-container {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 943px) {
  .location-container .description-bottom {
    width: 850px;
  }
  .location-container .location-cover {
    width: 850px;
    height: 260px;
    margin: 3rem auto;
  }
  .location-container .location-cover div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .location-container .carousel-image {
    width: 850px;
    height: 260px;
  }
}

@media screen and (max-width: 887px) {
  .counter {
    display: none;
  }
  .location-container .description-bottom {
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .location-container .location-description {
    display: flex;
    align-items: flex-start;
  }
  .location-container .location-description .description-left .location-title {
    font-size: 1.5rem;
  }
  .carousel-arrow {
    width: 40px;
    height: 70px;
  }
  .location-container .location-description .description-left .location-tags .tag-container {
    width: 130px;
    height: 37px;
  }
}

@media screen and (max-width: 665px) {
  .counter {
    display: none;
  }
  .location-container .description-bottom {
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .location-container .location-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .location-container .description-right .stars-container {
    justify-content: flex-start;
  }
  .location-container .description-right .location-info {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 458px) {
  .counter {
    display: none;
  }
  .location-container .description-bottom {
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .location-container .location-description {
    display: flex;
    align-items: flex-start;
  }
  .location-container .location-description .description-left .location-title {
    font-size: 1.5rem;
  }
  .carousel-arrow {
    width: 40px;
    height: 70px;
  }
  .location-container .location-description .description-left .location-tags .tag-container {
    width: 110px;
    height: 38px;
  }
}

.about-img {
  width: 80%;
  height: 223px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #000;
  mix-blend-mode: darken;
}
/*# sourceMappingURL=index.css.map */