@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.bg-container {
  width: 1240px;
  height: 223px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
}

.bg-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 46px 40px;
  margin: 2rem auto;
  gap: 2.5rem;
  width: 1340px;
  border-radius: 25px;
  background: #F6F6F6;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.error-container h1 {
  color: #FF6060;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
}

.error-container h3 {
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.error-container a {
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.card {
  width: 340px;
  height: 340px;
  flex: 0 1 calc(33.33% - 2rem);
}

.card .card-img {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card-title {
  padding-left: 1rem;
  position: relative;
  transform: translateY(-110%);
  color: #FFF;
  font-family: "Montserrat",sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

footer {
  display: flex;
  width: 100%;
  height: 209px;
  padding: 66px 464px 29px 463px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 28.556px;
  background: #000;
}

footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .text {
  display: flex;
  width: 513px;
  height: 46px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
}

footer .footer-text {
  color: #FFF;
  text-align: center;
  font-family: " Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

header {
  width: 1240px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 210.322px;
  height: 68px;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  color: #FF6060;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.active {
  text-decoration: underline;
}

.opening-divs {
  margin-top: 2rem;
}

.opening-div {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1023px;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  background: #FF6060;
}

.medium {
  width: 582px;
}

.div-title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.div-text {
  padding-left: 1rem;
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  border-radius: 10px 10px 5px 5px;
  background: #F6F6F6;
  width: 1023px;
}

.hide {
  display: none;
}

.cross {
  cursor: pointer;
}

.location-container .location-cover {
  width: 1240px;
  height: 415px;
  margin: 2rem auto;
}

.location-container .location-cover div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.location-container .location-description {
  width: 1240px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-container .location-description .description-left .location-title {
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .location-description .description-left .location-area {
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .location-description .description-left .location-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.location-container .location-description .description-left .location-tags .tag-container {
  width: 115px;
  height: 25px;
  border-radius: 10px;
  background: #FF6060;
}

.location-container .location-description .description-left .location-tags .tag-container .location-tag {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .description-right .location-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.location-container .description-right .stars-container {
  margin: 1rem 0;
  display: flex;
}

.location-container .description-right .location-name {
  width: 25%;
  color: #FF6060;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .description-right img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.location-container .description {
  width: 1240px;
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 76px;
}

.location-container .list-item {
  padding-left: 1rem;
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  border-radius: 10px 10px 5px 5px;
  background: #F6F6F6;
  width: 1023px;
  list-style: none;
}

.location-container .carousel-arrow {
  width: 46px;
  height: 79px;
}

.location-container .left {
  transform: translateX(80%);
  z-index: 2;
}

.location-container .right {
  transform: translateX(-80%);
  z-index: 2;
}

.location-container .star img {
  width: 64px;
  height: 36px;
}

.location-container .carousel-image {
  object-fit: cover;
  position: absolute;
  z-index: -1;
  border-radius: 25px;
  width: 1240px;
  height: 415px;
}

.about-img {
  width: 1240px;
  height: 223px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #000;
  mix-blend-mode: darken;
}
/*# sourceMappingURL=index.css.map */