@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.bg-container {
  width: 80%;
  height: 223px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
}

.bg-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.cards-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1.21%;
  margin: 2rem auto;
  gap: 2rem;
  border-radius: 25px;
  background: #F6F6F6;
}

@media screen and (max-width: 955px) {
  .bg-container {
    width: 80%;
    height: 150px;
  }
  .cards-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1.21%;
    margin: 2rem auto;
    gap: 2rem;
    border-radius: 25px;
    background: #F6F6F6;
  }
}

@media screen and (max-width: 617px) {
  .bg-container {
    width: 80%;
    height: 90px;
  }
  .cards-container {
    width: 80%;
    background: none;
  }
}

@media screen and (max-width: 384px) {
  .bg-container {
    width: 80%;
    height: 70px;
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.error-container h1 {
  color: #ff6060;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 19vw;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
}

.error-container h3 {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.error-container a {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .location-cover {
  width: 80vw;
  height: 60vh;
  margin: 2rem auto;
}

.location-container .location-description {
  width: 80vw;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-container .location-description .description-left .location-title {
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .location-description .description-left .location-area {
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .location-description .description-left .location-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.location-container .location-description .description-left .location-tags .tag-container {
  width: 115px;
  height: 25px;
  border-radius: 10px;
  background: #FF6060;
}

.location-container .location-description .description-left .location-tags .tag-container .location-tag {
  text-align: center;
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .description-right .location-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.location-container .description-right .stars-container {
  margin: 1rem 0;
  display: flex;
}

.location-container .description-right .location-name {
  width: 25%;
  margin: 0 1rem;
  color: #FF6060;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.location-container .description-right img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.location-container .description-bottom {
  width: 80vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.location-container .list-item {
  padding-left: 1rem;
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  background: #F6F6F6;
  list-style: none;
}

.location-container .star img {
  width: 54px;
  height: 36px;
}

@media screen and (max-width: 830px) {
  .location-container .location-description {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 2rem auto;
  }
  .location-container .description-left {
    width: 80%;
    margin: 1rem auto;
  }
  .location-container .description-right {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: space-between;
  }
  .location-container .star img {
    width: 54px;
    height: 36px;
  }
}

@media screen and (max-width: 647px) {
  .location-description {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 1rem auto;
  }
  .description-left {
    width: 100%;
    margin: 1rem auto;
  }
  .description-right {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: space-between;
  }
  .star img {
    width: 40px;
    height: 30px;
  }
}

@media screen and (max-width: 641px) {
  .star img {
    width: 40px;
    height: 30px;
  }
}

.about-img {
  width: 80%;
  height: 223px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #000;
  mix-blend-mode: darken;
}

.card {
  width: 340px;
  height: 340px;
  flex: 0 1 calc(33.33% - 2rem);
}

.card .card-img {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card-title {
  padding-left: 1rem;
  position: relative;
  transform: translateY(-110%);
  color: #FFF;
  font-family: "Montserrat",sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-shadow: 2px 2px 4px black;
}

@media screen and (max-width: 1251px) {
  .card {
    width: calc((100% - 4rem) / 2);
    flex: 0 1 calc(50% - 2rem);
  }
}

@media screen and (max-width: 853px) {
  .card {
    width: calc((100% - 4rem));
    flex: 0 1 100%;
  }
}

footer {
  display: flex;
  width: 100%;
  height: 40vh;
  padding-top: 2rem;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28.556px;
  background: #000;
}

footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .text {
  display: flex;
  width: 600px;
  height: 60px;
  flex-direction: column;
  justify-content: flex-end;
}

footer .footer-text {
  color: #FFF;
  text-align: center;
  font-family: " Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

@media screen and (max-width: 537px) {
  footer {
    overflow: hidden;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }
  footer .text {
    justify-content: center;
  }
  footer .footer-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 420px) {
  footer {
    height: 100vh;
    padding: 0;
  }
}

@media screen and (max-width: 360px) {
  .footer-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 306px) {
  footer .footer-text {
    font-size: 10px;
  }
}

header {
  width: 80%;
  max-width: 1240px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 210.322px;
  height: 68px;
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav a {
  color: #FF6060;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 582px) {
  header img {
    width: 180px;
    height: 68px;
  }
  header nav {
    display: flex;
    gap: 1rem;
  }
  header nav a {
    font-size: 20px;
  }
}

@media screen and (max-width: 493px) {
  header img {
    width: 140px;
    height: 60px;
  }
  header nav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 409px) {
  header img {
    width: 120px;
    height: 60px;
  }
  header nav a {
    font-size: 16px;
  }
}

@media screen and (max-width: 364px) {
  header img {
    width: 110px;
    height: 50px;
  }
  header nav a {
    font-size: 14px;
  }
}

@media screen and (max-width: 328px) {
  header img {
    width: 100px;
    height: 50px;
  }
  header nav a {
    font-size: 12px;
  }
}

.opening-divs {
  margin: 2rem auto;
}

.opening-div {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  background: #FF6060;
}

.div-title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.div-text {
  padding-left: 1rem;
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  border-radius: 10px 10px 5px 5px;
  background: #F6F6F6;
}

.hide {
  display: none;
}

.cross {
  cursor: pointer;
}

.large {
  width: 70vw;
}

.medium {
  width: 35vw;
}

.carousel-container {
  width: 80vw;
  height: 60vh;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container .carousel-image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container .carousel-arrow {
  width: 80px;
}

.carousel-container .left {
  z-index: 2;
  transform: translate(120%);
}

.carousel-container .right {
  z-index: 2;
  transform: translate(-120%);
}

@media screen and (max-width: 890px) {
  .carousel-container .carousel-image {
    width: 100%;
    height: 100%;
  }
  .carousel-container .carousel-arrow {
    width: 100px;
  }
}

@media screen and (max-width: 573px) {
  .carousel-container .carousel-image {
    width: 100%;
    height: 80%;
  }
  .carousel-container .counter {
    display: none;
  }
}

.counter {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%);
  text-shadow: 2px 2px 4px black;
}
/*# sourceMappingURL=index.css.map */