.error-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; 
h1 {
    color: #FF6060;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 288px;
font-style: normal;
font-weight: 700;
line-height: 142.6%;
}
h3 {
    color: #FF6060;
font-family: "Montserrat", sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 142.6%;
}
a {
    color: #FF6060;
font-family: "Montserrat", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 142.6%; 
// text-decoration-line: underline;
}
}