.location-container {
    .location-cover  {
        width: 1240px;
        height: 415px;
       margin: 2rem auto; 
        img {
     object-fit: cover;
     border-radius: 25px;
     width: 100%;
     height:100%;
    }
    }
    .location-description{
        display:flex;
        align-items:center;
        justify-content: space-between;
        .description-left {
            .location-title {
                color: #FF6060;
                font-family: "Montserrat", sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: 142.6%;
            }
            .location-area {
                color: #FF6060;
                font-family: "Montserrat", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 142.6%;
            }
            .location-tags {
                display:flex;
                gap:1rem;
                .tag-container {
                    width: 115px;
height: 25px;
border-radius: 10px;
background: #FF6060;
.location-tag {
    color: #FFF;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 142.6%;
}
                }
            }
        }
    }
    .description-right {
        .location-info {
            display:flex;
            align-items: center;
            gap:1rem;
        }
        .stars-container {
            display:flex;
            width: 60px; 
             height: 50px;
        }
        .location-name {
            width:50%;
            color: #FF6060;
text-align: right;
font-family: "Montserrat", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 142.6%;
        }
        img {
            width: 64px;
height: 64px;
border-radius:100%;
        }
     
    }
}
