.carousel-container {
    width:80vw;
    height:60vh;
    margin:2rem auto;
    display:flex;
    justify-content: center;
    align-items: center;
    .carousel-image {
        border-radius:1rem;
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .carousel-arrow {
        width:100px;
    }
    .left {
        z-index:2;
        transform:translate(120%)
    }
    .right {
        z-index:2;
        transform:translate(-120%)
    }
    
}


@media screen and(max-width:890px) {
    .carousel-image {
        width:100%;
        height:100%;
    }
    .counter {
        display:none;
    }
}
@media screen and (max-width:875px) {
    .carousel-container .carousel-arrow {
            width:120px;
    }
    .left {
        transform:translate(170%)
    }
    .right {
        transform:translate(-170%)
    }
}
@media screen and(max-width:573px) {
    .carousel-image {
        width:100%;
        height:80%;
    }
  .counter {
    display:none;
  }
}



.counter {
    color:#fff;
    font-size: 24px;
    position: absolute;
    left:50%;
    top:70%;
    transform:translate(-50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

}

@media screen and (max-width:460px){
    .location-container .location-cover {
        margin:1rem auto;
    }
    .carousel-container {
        width:80vw;
        height:45vh;
        margin:1rem auto;
        .carousel-arrow {
            width:90px;
            height:50px;
        }
        .left {
            z-index:2;
            left:60%;
        }
        .right {
            z-index:2;
            right:50%;
        }
        
    }
    
}