header {
  width:80%;
  max-width: 1240px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 210.322px;
      height: 68px;
    }
    nav {
      display: flex;
      gap: 2rem; 
      a {
        color: #FF6060;
        text-align: right;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
      }
    }
  }
  .active {
    text-decoration: underline;
  }

  @media screen and (max-width:582px){
    header {
        img {
          width: 180px;
          height: 68px;
        }
        nav {
          display: flex;
          gap: 1rem; 
          a {
            font-size: 20px;

          }
        }
      }
  }

  @media screen and (max-width:493px){
    header {
        img {
          width: 140px;
          height: 60px;
        }
        nav {
          a {
            font-size: 18px;

          }
        }
      }
  }

  @media screen and (max-width:409px){
    header {
        img {
          width: 120px;
          height: 60px;
        }
        nav {
          a {
            font-size: 16px;

          }
        }
      }
  }

  @media screen and (max-width:364px){
    header {
        img {
          width: 110px;
          height: 50px;
        }
        nav {
          a {
            font-size: 14px;

          }
        }
      }
  }

  @media screen and (max-width:328px){
    header {
        img {
          width: 100px;
          height: 50px;
        }
        nav {
          a {
            font-size: 12px;
          }
        }
      }
  }