header {
    margin: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 210.322px;
      height: 68px;
    }
    nav {
      display: flex;
      gap: 2rem; 
      a {
        color: $pink;
        text-align: right;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
      }
    }
  }
  .active {
    text-decoration: underline;
  }