.carousel-container {
    position: relative;
    width: 1240px;
    height: 415px;
    margin: 2rem auto; 
}

.carousel-image {
    width: 1240px;
    height: 415px;
    margin: 2rem auto; 
    border-radius: 25px;
}



@media screen and (max-width: 875px) {
    .carousel-container {
            position: relative;
            width: 850px;
            height: 300px;
            margin: 2rem auto; 
        .carousel-image {
            width: 850px;
            height: 300px;
            margin: 2rem auto; 
            border-radius: 25px;
        }
    }
}
